<!DOCTYPE html>
<html>
  <head>
    <title>Hello Friend!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Scrabble</h1>
    <p>Here is the word you have chosen: @Model.Word</p>
    <p>Here are the total points for your word: @Model.Points</p>
  </body> 
</html>